<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>emus</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans&family=Work+Sans:wght@300&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="img/logo-dark.svg" type="image/x-icon">
    <script src="https://kit.fontawesome.com/78462da890.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('../partials/nav-bar.ejs') %>
    <main>
        <%- body %>
    </main>
</body>

</html>