<nav class="home__nav">
    <span class="nav__logo">
        <img src="/img/logo-dark.png" alt="">
    </span>
    <span class="nav__links">
        <ul>
            <li>Login</li>
            <li>Register</li>
        </ul>
    </span>
</nav>

<main></main>