<nav class="home__nav">
    <span class="nav__logo">
        <img src="/img/logo-light.png" alt="">
    </span>
    <span class="nav__links">
        <ul>
            <li>Login</li>
            <li>Register</li>
        </ul>
    </span>
</nav>

<section>
    <div class="banner">
        <img src="/img/queue.jpg" alt="">
        <span class="banner__card">
            Hello world!
        </span>
    </div>
</section>