<link rel="stylesheet" href="/css/login.css">
<div class="login">
<div class="login-card">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" name="email"/>
    <br/>
    <label for="password">Password</label>
    <input type="password" name="password"/>
  </div>
</div>
</div>