<link rel="stylesheet" href="/css/auth.css">
<div class="register">
    <div class="register-card">
        <form class="form-group" method="POST" action="/">
            <div class="form-control">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control__input__active" name="firstName" required/>
            </div>
            <div class="form-control">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control__input__active" name="lastName" required/>
            </div>
            <div class="form-control">
                <label for="userName">User Name</label>
                <input type="text" class="form-control__input__active" name="userName" required/>
            </div>
            <div class="form-control">
                <label for="email">Email</label>
                <input type="text" class="form-control__input__active" name="email" required/>
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" class="form-control__input__active" name="password" required/>
            </div>
            <div class="form-action">
                <input class="form-action__submit__active" type="submit" name="submit">
            </div>
        </form>
        <div class="action-btns">
            <button class="action-btns__submit-btn__active">Submit</button>
        </div>
        <div class="action-links">
            <a href="#" class="action-link-item action-link__new-acc__active">
                New Account
            </a>
            <a href="#" class="action-link-item action-link__terms-and-conditions__active">
                Terms and conditions
            </a>
        </div>
    </div>
</div>