@import "./global.scss";

@mixin form {
    .form-group {
        font-family: $primary-font;
        padding: 1rem 4rem;
        .form-control {
            margin-top: 1rem;
            .form-control__input__active {
                padding: 5px;
                margin: 5px 0px;
            }
        }
        .form-action {
            input {
                width: 100%;
            }
            .form-action__submit__active {
                display: none;
            }
        }
    }
    .action-btns {
        padding: 0px 4rem;
        .action-btns__submit-btn__active {
            padding: 5px;
            width: 100%;
            background-color: dodgerblue;
        }
    }
    .action-links {
        display: flex;
        justify-content: space-between;
        .action-link-item {
            margin: 1rem 0px;
        }
    }
}

.login {
    width: 100%;
    overflow-x: hidden;
    .login-card {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include form;
    }
}

.register {
    width: 100%;
    overflow-x: hidden;
    .register-card {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include form;
    }
}
