@import './global.scss';

body{
    margin: 0 auto;
    background-color: $light2;
}

.home__nav{
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0px;
    width: calc(100% - 4rem);
    z-index: 2;
    .nav__logo{
        img{
            width:4rem;
        }
    }
    .nav__links{
        a{
            color: $light1
        }
        ul{
            padding: 0px;
            list-style: none;
            display: flex;
            li{
                padding-right: 15px;
                color: $light1;
                cursor: pointer;
                font-family: $primary-font;
            }
            li:hover{
                color: $dark1;
            }
        }
    }
}